# Medical Image Editing Dataset
MedicalImageEditingIterableDataset_ver1:
  dataset_names:
    stage2_additional:
    - healthgpt_generation_MT
    - healthgpt_generation_SR
  image_transform_args:
    image_stride: 16
    max_image_size: 1024
    min_image_size: 512
  vit_image_transform_args:
    image_stride: 14
    max_image_size: 518
    min_image_size: 224
  is_mandatory: true
  shuffle_lines: True
  shuffle_seed: 42
  num_used_data:
    stage2_additional: [0, 0]
  weight:
    stage2_additional: 10


T2IIterableDataset_Ver1:
  # 新的分组配置格式：dataset_names 是字典，每个键是分组名
  dataset_names:
    stage2_additional:  # 医学数据高优先级组
    - healthgpt_generation_T2I
    stage1:  # 通用数据中等优先级组  
    - ALLaVA_Caption_LAION_4V
    - gmaivl_caption_from_clsdataset
    - pubmedvision_gen
    - CFP_processed_data_Generation
    - CFP_processed_data_Generation2
  # 对应的权重配置
  weight:
    stage2_additional: 20
    stage1: 25
  # 对应的数据使用量配置
  num_used_data:
    stage2_additional: [0]
    stage1: [0, 0, 0, 0, 0]
  # 公共配置参数
  image_transform_args:
    image_stride: 16
    max_image_size: 1024
    min_image_size: 512
  is_mandatory: true
  shuffle_lines: True
  shuffle_seed: 42

SftJSONLIterableDataset_Ver1:
  # 新的分组配置格式
  dataset_names:
    stage2_critical:  # Stage2关键数据组
    - healthgpt_comprehension_gpt
    - wanglab_chest_agent_bench
    - RadRBench_CXR_mimic
    - GMAI_Reasoning10K
    stage1:  # 基础医学数据组
    - CheXpertPlus
    - mimic_cxr
    - VQA_RAD
    - Slake  # 扩展医学数据组
    - cls_100w_sft_data_internvl
    - det2d_vqa_500_internvl
    - gmai_vl_shortanswer
    - ImageClef-2019-VQA-Med
    - llava_v1_5_mix665k_correct_v4
    - LLaVA_Med_Caption
    - Medical_Diff_VQA
    - medication_qa_vqa
    - medpix_single
    - openI_official
    - Pathology_VQA
    - PMC_CaseReport
    - PMC_VQA
    - PMC_Inline
    - PMC_Inline_multi_image
    - PMC_OA
    - pubmed_cuhksz
    - pubmedvision
    - quilt_1m
    - RetinaImageBank
    - ROCOV2
    - seg2d_vqa_500_internvl
    - sft_93k_internvl
    - CFP_processed_data_QA
  # 对应的权重配置
  weight:
    stage2_critical: 15
    stage1: 25
  # 对应的数据使用量配置
  num_used_data:
    stage2_critical: [0, 0, 0, 0]
    stage1: [0, 0, 0, 0,0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
  # 公共配置参数
  image_transform_args:
    image_stride: 16
    max_image_size: 1024
    min_image_size: 512
  vit_image_transform_args:
    image_stride: 14
    max_image_size: 980
    min_image_size: 378
    max_pixels: 2_007_040
  is_mandatory: true
  shuffle_lines: True
  shuffle_seed: 42


SftJSONLIterableDataset_TextOnly:
  dataset_names:
  - ChatDoctor-iCliniq-7.3k_converted
  - MedQuad-MedicalQnADataset
  - bigbio_pubmed_qa_cot
  - medical_r1_distill_sft
  - UCSC_VLAA_MedReason
  is_mandatory: true
  shuffle_lines: True
  shuffle_seed: 42
  num_used_data:
  - 0
  - 0
  - 0
  - 0
  - 0
  weight: 5

